.header {
    position: fixed;
    bottom: 50px;
    width: 100%;
    z-index: 1000;
}

.header button {
    box-sizing: content-box;
    cursor: pointer;
    border: none;
    height: 12px;
    width: 12px;
    padding: 0;
    border: solid 2px var(--background-color);
    background-color: var(--background-color);
    rotate: 0deg; /* Asegúrate de inicializar la rotación */
    transition: background-color 500ms, rotate 500ms;
    /* rotate: 45deg; */
}

.header button.active {
    background-color: white;
    rotate: 45deg;
    transition: background-color 500ms, rotate 500ms;
}

.header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.header ul li {
    margin: 0;
}

@media (max-width: 1024px) {
    .header {
        display: none;
    }
}
