.presentacion {
    position: relative;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    align-content: center;
    /* justify-content: center; */
    padding: 0 150px;
}

.container__nombre {
    justify-self: end;
    width: 100%;
    height: 100%;
    background-color: var(--color-one);
    border-radius: 70% 30% 74% 26% / 24% 72% 28% 76%;
    color: var(--color-two);
    text-align: left;
    padding: 50px;

    animation: aparecerNombre 1.5s ease-out;
}

.container__nombre h1 {
    font-size: 4em;
    margin: 0;
    padding: 0;
}

.container__nombre h2 {
    margin: 0;
    padding: 0;
}

.container__foto {
    justify-self: center;
    animation: aparecerFoto 1.5s ease-out;
}

.container__foto:hover img {
    animation: temblar 0.5s ease-in-out;
}

@keyframes temblar {
    0% {
        transform: translateX(0); /* Posición inicial */
    }
    25% {
        transform: translateX(-5px); /* Desplaza hacia la izquierda */
    }
    50% {
        transform: translateX(5px); /* Desplaza hacia la derecha */
    }
    75% {
        transform: translateX(-5px); /* Vuelve a la izquierda */
    }
    100% {
        transform: translateX(0); /* Regresa a la posición inicial */
    }
}

@keyframes aparecerNombre {
    from {
        opacity: 0;
        transform: translateX(-1500px) scale(0);
    }
    to {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

@keyframes aparecerFoto {
    from {
        opacity: 0;
        transform: translateX(1500px) scale(0);
    }
    to {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

@media (max-width: 1024px) {
    .presentacion {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 1fr);
        padding: 0;
    }

    .container__nombre {
        justify-self: center;
        align-self: self-end;
        width: 350px;
        height: 300px;
    }

    .container__nombre h1 {
        font-size: 1.5em;
    }
    .container__nombre h2 {
        font-size: 1em;
    }

    .container__foto img {
        width: 300px;
        height: 300px;
    }
}
