.saludos_container {
    width: 100%;
    height: 80dvh;

    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;

    font-size: 25px;
}

.destacar {
    color: var(--primary-color);
}