.nav {
    display: grid;
    grid-template-columns: auto 1fr;

    width: 100%;
    /* height: 100px; */
    position: sticky;
    top: 0;

    padding-block: 30px;
    z-index: 1000;

    animation: reduce-header linear both;
    animation-timeline: scroll();
    animation-range: 0 150px;
}

.nav_link_active {
    color: red;
}

@keyframes reduce-header {
    to {
        box-shadow: 0 5px 50px -5px #ffffff1a, 0 0 0 1px #ffffff1a;
        background: #0000004d;
        padding-block: 1rem;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px)
    }
}

.container_links {
    justify-self: end;
}

.link__full_screen {}

.link__full_screen ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;

}

.link__full_screen ul li {
    margin: 0 2rem;
}

.container__collapsed {
    display: none;
    position: relative;
}



.lateral_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;

    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;

    background-color: #333333c8;
}

.links_collapsed {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    gap: 10px;

}

.show_lateral_nav {
    transform: translateX(0);
    /* transition: transform 2s ease-in-out;     */
}

@media (max-width: 768px) {
    .link__full_screen {
        display: none;
    }

    .container__collapsed {
        display: block;
    }
}

.nav_links a {
    display: block;
    position: relative;
    padding: 0.2em 0;
    font-size: 1.1em;
}

/* Fade in */
.nav_links a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--primary-color);
    transition: opacity 300ms, transform 300ms;

    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

.nav_links a:hover::after,
.nav_links a:focus::after {
    transform: scale(1);
}