:root {
    --color-one: #ebe5de;
    --color-two: #aa7b48;

    --color-title: #2667ff;

    --botton-color: #363732;
}

.main__portfolio {
    position: relative;
}

.container__portfolio .section:nth-child(even) {
    background-color: var(--color-one);
    color: var(--color-two);
}

.container__portfolio .section:nth-child(odd) {
    background-color: var(--color-two);
    color: var(--color-one);
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section__content {
    width: 100%;
    height: 100%;
}

html {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none;
}
