.main__portfolio {
    position: relative;
}

.container__portfolio .section {
    background-color: var(--color-one);
    color: var(--color-two);
}

.section {
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
}

.section__content {
    width: 100%;
    height: 100%;
}

@media (max-width: 1024px) {
    .section {
        padding: 10px;
    }
}

/* html {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none;
} */
